.playlist {
  width: 100%;
  text-align: center;
  justify-content: center;
}
.button-back {
  float: left;
  width: 100px;
  font-size: 40px;
  cursor: pointer;
  color: rgb(184, 181, 181);
  left: 0;
}
.button {
  cursor: pointer;
  color: lightgray;
  right: 0;
  position: absolute;
}
.hr-horizontal {
  margin-top: 25px;
  height: 2px;
  width: 210px;
  background-color: lightgray;
  border: none;
}

.container-playlist {
  background-color: lightgray;
  margin: 8px 0;
  padding: 15px 20px;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  display: flex;
  width: 100%;
  text-align: left;
}
.delete {
  position: absolute;
  right: 0;
}
.buttons {
  display: inline;
  border-radius: 5px;
  margin: 8px 0;
  padding: 15px 20px;
}
